{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/all.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

{% endblock %}

{% block content%}

     <div style="background-image: url(../static/luxury-black-background-vector.jpg);"></div>
<!-- <div style="background-image: url(https://images.unsplash.com/photo-1512149673953-1e251807ec7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); background-repeat: no-repeat;  background-size:cover; height:88.9vh;"> -->
    <div class="container-fluid" style="text-align:center; padding-top:250px;">
        <h2 style="color: white;font-family: 'Anton', sans-serif;
        font-family: 'Lobster', cursive; font-size: 30px;">In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?</h2>
    <p style="font-size: 20px; color: #00a8e8;">You can produce a pitch of your own choice , comment on any pitch, and upvote or downvote.</p>
        <h5 style="font-size: 18px; color:#00a8e8;"> Sign in first to access the opportunity.</h5> <br> <br>

        {% if current_user.is_anonymous%}
        <li  class="btn btn-info" style="font-size: 20px;"><a href="{{url_for('auth.login')}}" class="text-light"><strong>Sign In</strong></a></li>
        {%endif%}
      </ul>
      
    </div>
    <p style="font-size: 30px; color:white; text-align: center;font-family: 'Bangers', cursive; margin-top: 120px;
    ">Reserved by @2020-A-Minute-Pitch</p>
</div>
    
    
{% endblock %}